@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

a, a:active, a:focus, a:visited, a:hover{
    color: rgb(27, 27, 27);
}

.footer{
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: rgb(224, 224, 224);
}

@include media-breakpoint-up(xs) {
    .footerIcon{
        margin-right: 5px;
    }
}


@include media-breakpoint-up(sm) {
}


@include media-breakpoint-up(md) {
    .footerIcon{
        margin-right: 5px;
    }
}


@include media-breakpoint-up(lg) {
}


@include media-breakpoint-up(xl) {
}