
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
#NavBar{
    display: flex;
    justify-content: flex-start;
    /* align horizontal */
    align-items: center;
    /* align vertical */
    background-color: white;
}

#Logo {
    width: 200px;
    height: auto;
    padding-top: 10px;
   
}
