@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

//debugging
.debug {
    border-color: red;
}

//vars
$mainNewsletterBg: url('../../assets/bgNewsletter.png');

//basic and repeatable 


//thematics + constants
h3,
p {
    text-align: center;
}



@include media-breakpoint-up(xs) {

    //Header
    .mainHeaderContainer {
        position: relative;
        text-align: center;
        color: white;
    }

    .mainHeaderButton {
        background: #7043b3;
        border: #7043b3;

        &:hover,
        &:active,
        &:visited,
        &:focus,
        &:active:focus {
            background: #553388 !important;
            border: #553388;
        }

    }

    .mainHeaderImg {
        width: 100%;
        height: auto;
    }

    .mainHeaderContent {
        width: 75vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    //Body
    #whatWeDo {
        background: lightgrey;
    }

    .mainBodyIcons {
        width: 200px;
        height: 200px;

    }

    //Newsletter
    .mainSubscribeButton {
        margin-top: 35px;
        background: #7043b3;
        border: #7043b3;

        &:hover,
        &:active,
        &:visited,
        &:focus,
        &:active:focus {
            background: #553388 !important;
            border: #553388;
        }
    }

    .mainNewsInput {
        background: transparent;
        border: none;
        border-bottom: 2px solid white;
        margin: 15px 0px;
        padding: 0px;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0;
        color: white;



        &:focus {
            -webkit-box-shadow: none;
            box-shadow: none;
            background: transparent;
            color: white;
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus {
            -webkit-text-fill-color: white;
            -webkit-box-shadow: none;
            box-shadow: none;
            transition: background-color 5000s ease-in-out 0s;
            background: transparent;
        }


    }

    .mainNewsletter {
        background: $mainNewsletterBg no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .mainNewsContainer {
        background: #957ac2;
        color: white;
        padding: 20px;
    }

    .label {
        font-style: italic;
        font-size: .9rem
    }

    ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-style: italic;
        color: white !important;
        opacity: 1;
        /* Firefox */
    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        font-style: italic;
        color: white !important;
        opacity: 1;
    }

    ::-ms-input-placeholder {
        /* Microsoft Edge */
        font-style: italic;
        color: white !important;
        opacity: 1;
    }




}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {

    .mainHeaderImg {
        width: 100%;
        height: 100%;

    }

    .mainHeaderContent {
        width: 75vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }
}

@include media-breakpoint-up(lg) {
    .mainHeaderImg {
        height: 100%;

    }

    .mainHeaderContent {
        width: 75vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }
}

@include media-breakpoint-up(xl) {
    .mainHeaderImg {
        height: auto;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px
    }

    .mainHeaderContent {
        width: 75vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .mainHeaderContainer {
        height: 700px;
        position: relative;
        text-align: center;
        color: white;
        overflow-y: hidden;


    }
}